.hubit-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, #DD5241 1.35%, #EFB056 100%);
    min-height: 100vh; 
}

.page-content {
    display: flex;
    flex-direction: column; 
    overflow-y: auto;
    flex-grow: 1;
    max-height: calc(100vh - 60px);  
}
/* Logo Styling */
.logo-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px;

}

.logo {
    width: 200px; 
    height: auto;
}


app-menu-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}
