.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;
  width: 100%;
}

.settings-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin: 20px 0;
}

.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  color: #000;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

mat-form-field.inputfield {
  width: 300px;
  margin-bottom: -15px;
}

.profile-pic-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.error-message {
  color: #f1580c;
  text-align: center;
  font-family: "Source Sans 3";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.password-criteria {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 35px;
}

.update {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.criteria {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.criteria.mat-icon.material-icons {
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.met-criteria {
  color: white;
}

.met-criteria mat-icon {
  color: white;
}

.unmet-criteria {
  color: black;
}

.unmet-criteria mat-icon {
  color: black;
}

.image-upload,
.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 90%;
}
