<div class="menu-bar">
    <div class="menu-bar__content">
        <div class="menu-bar__content__menu__item">
            <a routerLink="/hubit/home" routerLinkActive="active">
                <button mat-icon-button (click)="navigateTo('/hubit/home')">
                    <mat-icon>home</mat-icon>
                </button>
            </a>
        </div>
        <div class="menu-bar__content__menu__item">
            <a routerLink="/hubit/community" routerLinkActive="active">
                <button mat-icon-button (click)="navigateTo('/hubit/community')">
                    <mat-icon>groups</mat-icon>
                </button>
            </a>
        </div>
        <div class="menu-bar__content__menu__item">
            <a routerLink="/hubit/post" routerLinkActive="active">
                <button mat-icon-button (click)="navigateTo('/hubit/post')">
                    <mat-icon>edit_square</mat-icon>
                </button>
            </a>
        </div>
        <div class="menu-bar__content__menu__item">
            <a routerLink="/hubit/profile" routerLinkActive="active">
                <button mat-icon-button (click)="navigateTo('/hubit/profile')">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </a>
        </div>
    </div>
</div>
