id={{id}}
<div class="profile_grid">
    <div class="col">
        <mat-icon class="person_icon">account_circle</mat-icon>
    </div>
    <div class="col">
        <h1 class="bold_name">{{username}}</h1>
        <p>{{description}}</p>
    </div>

    <div class="col">
        <h3 class="profile_number">{{num_posts}}</h3>
        <p class="profile_number_text">Posts</p>
    </div>
    <div class="col">
        <h3 class="profile_number">{{num_followers}}</h3>
        <p class="profile_number_text">Followers</p>
    </div>
    <div class="col">
        <h3 class="profile_number">{{num_following}}</h3>
        <p class="profile_number_text">Following</p>
    </div>
    <div class="col">
        <h3 class="profile_number">{{num_communities}}</h3>
        <p class="profile_number_text">Communities</p>
    </div>

    <div class="col">
        <button mat-raised-button class="edit_button">Edit Profile</button>
    </div>
    <div class="col">
        <button mat-raised-button class="share_button"><mat-icon class="center_icon">share</mat-icon></button>  
    </div>
    <div class="col">
        <button mat-raised-button class="settings_button"><mat-icon style="vertical-align:middle">settings</mat-icon></button>
    </div>
</div>
<div style="position:absolute;margin-top:5vh;left:50vw;color:white">I'm working on these buttons ^^^</div>
<div class="post_list">
    <!-- Use material cards -->
</div>