<!-- Signout button -->
<button mat-raised-button class="sign-out-button" (click)="signOut()">Sign Out</button>

<!-- Delete button -->
<button mat-raised-button class="delete-button" (click)="deleteAction()">Delete</button>

<div class="profile_grid">
    <div class="col">
        <mat-icon class="person_icon">account_circle</mat-icon>
    </div>
    <div class="col">
        <h1 class="username" *ngIf="!currently_editting">
            {{username}}
        </h1>
        <p class="bio" *ngIf="!currently_editting">{{bio}}</p>

        <form *ngIf="currently_editting">
            <input #new_username class="username_edit no-outline" value="{{username}}" placeholder="Add your name here">
            <br>
            <textarea #new_bio class="bio_edit" rows=10 value="{{bio}}" placeholder="Add something interesting about yourself"></textarea>
        
            <div>
                <button mat-raised-button class="cancel_button" (click)="change_edit()">Cancel</button>
                <button mat-raised-button class="confirm_button" (click)="change_info(new_username.value, new_bio.value)">Confirm</button>
            </div>
        </form>
    </div>

    <div class="col">
        <h3 class="profile_number">{{num_posts}}</h3>
        <p class="profile_number_text">Posts</p>
    </div>
    <div class="col">
        <h3 class="profile_number">{{num_followers}}</h3>
        <p class="profile_number_text">Followers</p>
    </div>
    <div class="col">
        <h3 class="profile_number">{{num_following}}</h3>
        <p class="profile_number_text">Following</p>
    </div>
    <div class="col" (click)="toFollowedCommunities()">
        <h3 class="profile_number">{{followed_communities.length}}</h3>
        <p class="profile_number_text">Communities</p>
    </div>

    <div class="col" *ngIf="viewing_own_profile">
        <button mat-raised-button class="create_new_community" (click)="create_community_action()" disabled="{{currently_editting}}">Create New Community</button>
    </div>

    <!-- If viewing own profile -->
    <div class="col" *ngIf="viewing_own_profile">
        <button mat-raised-button class="edit_button" (click)="change_edit()" disabled="{{currently_editting}}">Edit Profile</button>
    </div>
    <div class="col" *ngIf="viewing_own_profile">
        <button mat-raised-button class="share_button" (click)="share_action()"><mat-icon class="share_icon">share</mat-icon> Share </button>
    </div>
    <div class="col" *ngIf="viewing_own_profile">
    <button mat-raised-button class="settings_button" (click)="settings_action()"><mat-icon class="settings_icon">settings</mat-icon> Settings  </button>
    </div>
</div>
<div class="post_list">
    <!-- Use material cards: https://material.angular.io/components/card/overview -->
    <li *ngFor="let post of posts; index as i">
        <a href="post?post={{post.id}}">
            <mat-card class="post_card">
                <mat-card-header>
                    <mat-card-title>
                        {{username}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        <a href="community?community={{post.created_by.for_community.id}}">{{post.created_by.for_community.name}}</a>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{post.content}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </a>
    </li>
</div>