<div class="community">
  <div *ngIf="community?.banner" class="community-cover">
    <img [src]="community?.banner" alt="{{ community_name }} Cover" class="cover-photo">
  </div>
  <div class="info">
    <h1 class="community-title">{{ community_name }}</h1>
    <div class="description-wrap">
      <p class="community-description">{{ community_desc }}</p>
    </div>
  </div>
  <div class="buttons">
    <div class="boards-button">
      <a
        [routerLink]="['/hubit/community', community_id, 'boards']"
        class="boards-button"
      >
        <button mat-button class="boards-button">Boards</button>
      </a>
    </div>
    <div *ngIf="show_follow_button">
      <div *ngIf="user_following; else followCommunity">
        <button mat-button (click)="unfollowCommunityCall()" class="follow-toggle">
          Unfollow
        </button>
      </div>
    </div>
    <ng-template #followCommunity>
      <button mat-button (click)="followCommunityCall()" class="follow-toggle">
        Follow
      </button>
    </ng-template>
    <button mat-button class="new-post-button" (click)="navigateToNewPost()">New Post</button>
  </div>
  
  <div class="post_list">
    <li *ngFor="let post of community_posts; index as i">
      <app-post [embedded]="true" input_post_id="{{post.id}}"></app-post>
    </li>
  </div>
</div>
