<p style="color:red; top: margin 10px;">Don't worry, I'll add more color and functionality to this</p>
<div style="width:80%;height:80%">
    <div class="center-box">
        <form class="input-form">
            <h1 style="text-align:center">Create an Account</h1>
        
            <mat-form-field class="input-full-width">
            <mat-label>Username:</mat-label>
            <input matInput>
            </mat-form-field>

            <mat-form-field class="input-full-width">
                <mat-label>Password:</mat-label>
                <input matInput type="password">
            </mat-form-field>

            <mat-form-field class="input-full-width">
                <mat-label>Re-Type Password:</mat-label>
                <input matInput type="password">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Create</button>

        </form>
    </div>
</div>