<div>
    <div style="width:100%;height:78%">
        <div class="center-box">
            <form class="input-form">
                <h1 style="text-align:center; margin-top:+10px">Create an Account</h1>
            
                <mat-form-field class="input-full-width">
                    <mat-label>Username:</mat-label>
                    <input #u_field matInput>
                    <mat-hint *ngIf="username_error_shown" style="color:red">{{ username_error_text }}</mat-hint>
                    <!-- It appears that <mat-error> doesn't work for some reason-->
                </mat-form-field>

                <mat-form-field class="input-full-width">
                    <mat-label>Password:</mat-label>
                    <input #p_field matInput type="password">
                    <mat-hint *ngIf="password_error_shown" style="color:red">{{ password_error_text }}</mat-hint>
                </mat-form-field>

                <mat-form-field class="input-full-width">
                    <mat-label>Re-Type Password:</mat-label>
                    <input #pc_field matInput type="password">
                    <mat-hint *ngIf="passwordc_error_shown" style="color:red">{{ passwordc_error_text }}</mat-hint>
                </mat-form-field>

                <br>
                <div class="create_button">
                    <button type='button' mat-raised-button disabled={{this.create_account_button_disabled}} (click)="create_account(u_field.value, p_field.value, pc_field.value)">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>