<mat-toolbar class="toolbar">
  <div (click)="toggleSidePanel()">
    <button mat-icon-button class="icon_button" aria-label="toolbar menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- Search input and button container -->
  <div class="search-container">
    <mat-form-field class="search-field">
      <input matInput placeholder="Search..." class="search-input" [(ngModel)]="searchCriteria">
    </mat-form-field>
    <button mat-icon-button (click)="performSearch()" class="search-button" aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
    <!-- Display Search Results -->
    <div class="search-results" *ngIf="searchResults.length > 0">
      <div *ngFor="let result of searchResults" class="search-result">
        {{ result.username }} <!-- Replace with the appropriate property in your search result -->
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="container">
  <div class="content">
    <!-- Your main content -->
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Side Panel feature -->
<div class="side_panel" [class.show]="sidePanelVisible">
  <!-- Side Panel Content Here -->
  <!-- Move your buttons here -->
  <button mat-raised-button [routerLink]="['/new_community']" class="newCommunity">Create New Community</button>
</div>
