<mat-toolbar class="toolbar" (click)="toggleToolbarButtons()">
  <button mat-icon-button class="icon_button" aria-label="toolbar menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="text">
    <!-- Toolbar if you want to use it -->
  </div>

  <!-- Buttons in the toolbar -->
  <button mat-raised-button class="viewFollowedContent" [hidden]="!showToolbarButtons">View Followed Content</button>
  <button mat-raised-button class="viewCommunityPosts" [hidden]="!showToolbarButtons">View Community Posts</button>
  <button mat-raised-button class="createNewPost" [hidden]="!showToolbarButtons">Create New Post</button>

  <!-- Search input and button container -->
  <div class="search-container">
    <mat-form-field class="search-field">
      <input matInput placeholder="Search..." class="search-input">
    </mat-form-field>
    <button mat-icon-button (click)="performSearch()" class="search-button">
      <mat-icon>search</mat-icon>
    </button>
   <!-- <button mat-raised-button class="signOutButton" [disabled]="!showToolbarButtons">Sign Out</button> -->
  </div>
</mat-toolbar>

<!-- Side Panel feature -->
<div class="side_panel" [class.show]="sidePanelVisible">
  <!-- Side Panel Content Here -->
  <!-- You can keep your buttons here or move them into the toolbar as needed -->
</div>

<div class="container">
  <div class="content">
    <router-outlet></router-outlet> <!-- Your main content -->
  </div>
</div>
