<mat-toolbar class="toolbar">
  <div (click)="toggleSidePanel()">
    <button mat-icon-button class="icon_button" aria-label="toolbar menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- Search input and button container -->
  <div class="search-container">
    <mat-form-field class="search-field">
      <input matInput placeholder="Search..." class="search-input" (ngModelChange)="performSearch($event)" [(ngModel)]="searchCriteria">
    </mat-form-field>
  </div>
</mat-toolbar>

<!-- Display Search Results -->
<div class="search-results" *ngIf="searchResults.length > 0">
  <div *ngFor="let result of searchResults" class="search-result">
    <div *ngIf="result.username">
      <a href="/profile?id={{result._id}}" class="search-link"><strong>User:</strong> {{ result.username }}</a>
      <hr class="result-divider">
    </div>
    <div *ngIf="result.name">
      <a href="/community?community={{result._id}}" class="search-link"><strong>Community:</strong> {{ result.name }}</a>
      <hr class="result-divider">
    </div>
  </div>
</div>


<div class="container">
  <div class="content">
    <!-- Your main content -->
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Side Panel feature -->
<div tabindex="0" class="side_panel" [class.show]="sidePanelVisible">
  <div *ngIf="sidePanelVisible">

    <!-- Side Panel Content Here -->
    <!-- Move your buttons here -->
    <button (click)="toProfile()" mat-raised-button  class="newCommunity">Profile</button>
    <button (click)="toCreateCommunity()" mat-raised-button class="newCommunity">Create New Community</button>
    <button (click)="toBugReport()" mat-raised-button class="newCommunity">Bug Report and Feature Request</button>
  </div>
</div>
