.middle_box {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 70%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.middle_box .error_icon {
    transform: scale(5);
    min-height: 50px;
    height: 10%;
    margin-top: 10%;
}

.middle_box .oops {
    font-size: 48px;
}