<div class="post-box">
    <div class="post-field">
        <h1 class="username">
            <a href="/profile?id={{post_user_id}}" style="text-decoration:none;">{{post_username}}</a>
        </h1>
    </div>
    <div class="post-field">
        <p class="community"><a href="/community?community={{post_community_id}}">{{post_community_name}}</a></p>
    </div>
    <div class="post-field">
        <p class="post-content">{{post_content}}</p>
    </div>
    <div class="like-container post-field">
        <button mat-icon-button style="width:auto" (click)="like_button_click()">
            {{like_count}} <mat-icon class="like-button-icon">{{has_liked ? 'thumb_up' : 'thumb_up_off'}}</mat-icon>
        </button>
    </div>
    <div class="like-container post-field">
        <button mat-icon-button style="width:auto" (click)="like_button_click()">
            {{like_count}}
            <mat-icon class="like-button-icon">thumb_up</mat-icon>
        </button>
    </div>
</div>

<h2 class="comments-text">Comments</h2>
<div class="new-comment">
    <textarea matInput #comment_content class="input"></textarea>
    <button mat-stroked-button class="button" (click)="create_comment(comment_content.value)">Comment</button>
</div>
<mat-list *ngFor="let comment of comments; index as i">
    <div class="existing-comment">
        <app-comment [comment]="comment" [viewing_user_id]="self_id" [http]="http" [deleteComment]="delete_comment"></app-comment>
    </div>
    <mat-divider style="margin-top: 15px" *ngIf="i !== (comments.length-1)"></mat-divider>
</mat-list>