<div class="post-box">
    <div class="post-field">
        <h1 class="username"><a href="/profile?id={{post_id}}" style="text-decoration:none">{{post_username}}</a></h1>
    </div>
    <div class="post-field">
        <p>{{post_community}}</p>
    </div>
    <div class="post-field"><p class="post-content">{{post_content}}</p></div>
    <div class="like-container post-field">
        <button mat-icon-button style="width:auto" (click)="like_button_click()">{{like_count}} <mat-icon class="like-button-icon">thumb_up</mat-icon></button>
    </div>
</div>