<div class="middle_box">
    <form class="post_form">
        <mat-form-field class="input-80-width" style="padding-top:20px">
            <mat-label>Community Name:</mat-label>
                    <input #community_name matInput>
        </mat-form-field>

        <mat-form-field class="input-80-width">
            <h1>Description:</h1>
            <textarea matInput #community_desc class="post-text"></textarea>
        </mat-form-field>

        <mat-form-field class="input-80-width">
            <mat-label>Search User</mat-label>
            <input #search_username matInput>
            <button mat-button style="background-color:#b0b0b0" (click)="filter_users(search_username.value)">Search</button>
        </mat-form-field>
        

        <mat-form-field class="input-80-width">
            <mat-label>Choose Moderators</mat-label>
            <mat-chip-grid #chipGrid>
                <mat-chip-row *ngFor="let user of choosenUsers" (removed)="remove(user)">
                    {{user}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input placehold="New Mod..." #modInput [formControl]="userCtrl"
            [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
            (matChipInputTokenEnd)="add($event)"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                    {{user}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="input-80-width">
            <input matInput hidden="true">
            <h1>Add Background Photo:</h1>
            <div class="image-preview-box">
                <div class="image-preview-box-text">
                    This feature is currently not supported
                </div>
            </div>
        </mat-form-field>
    
        <div class="post-button-area">
                                                            <!-- Couldn't figure out chip values, will fix later -->
            <button mat-raised-button class="post-button" (click)="create_community(community_name.value, community_desc.value, ['General'])">Post</button>
        </div>
    </form>
    <div class="spacer"></div>
</div>