<div class="page-content">
    <div class="top-content">
        <h3 class="title">Search: </h3>
        <form [formGroup]="searchForm" (submit)="onSubmit($event)" >
            <div class="top-panel">
                <mat-form-field class="searchfield" appearance="fill">
                    <input matInput formControlName="search" (input)="onChange()">
                    <button 
                        mat-icon-button
                        type="button"
                        appearance="outlined" 
                        matSuffix 
                        *ngIf="searchForm.get('search')?.value"
                        (click)="searchForm.get('search')?.setValue('')"
                    >
                        <mat-icon>
                            <span class="material-symbols-outlined">
                                cancel
                            </span>
                        </mat-icon>
                    </button>
                </mat-form-field>
                <button 
                    mat-fab 
                    appearence="fill"
                    class="button"
                    type="submit" 
                >
                    <mat-icon class="search">search</mat-icon>
                </button>
            </div>
        </form>
    </div>
    <div class="divider"></div>
    <h3 class="title">Users: </h3>
    <div class="user-results-panel">
        <div *ngIf="searchResults && searchResults.length > 0">
          <button *ngFor="let result of searchResults" mat-button (click)="goToUserProfile()">
            <mat-icon>person</mat-icon>
            {{ result.username }}
          </button>
        </div>
      </div>
    <div class="divider"></div>
    <h3 class="title">Communities: </h3>
    <div class="community-results-panel">
        <div *ngIf="communitySearchResults && communitySearchResults.length > 0">
          <button *ngFor="let community of communitySearchResults" mat-button (click)="goToCommunityProfile()">
            <mat-icon>groups</mat-icon>
            {{ community.name }}
          </button>
        </div>
    </div>
</div>
