<div class="page-content">
    <div class="top-panel">
        <button mat-raised-button 
            class="button" 
            (click)="openNewCommunityDialog()"
        >
            <mat-icon>add</mat-icon> Create New Community
        </button>
    </div>
    <div class="divider-big"></div>
    <div class="communities-panel">
        <!-- Sample boxes for communities. loop through them using *ngFor once we have data -->
        <div class="community-box" routerLink="/hubit/community">
            <div class="cover">
                <img src="../../../assets/letter-logo.png" class="image-preview">
            </div>
            <div class="name-box">
                <div class="divider"></div>
                <a routerLink="/hubit/community" routerLinkActive="active">
                    <h3 class="name">Community Name</h3>
                </a>
            </div>
            <div class="count-box">
                <div class="divider"></div>
                <h6 class="members">Members: 48</h6>
            </div>
            <div class="info">
                <div class="divider"></div>
                <p>Info</p>
            </div>
        </div>
        <div class="community-box" routerLink="/hubit/community">
            <div class="cover">
                <img src="../../../assets/letter-logo.png" class="image-preview">
            </div>
            <div class="name-box">
                <div class="divider"></div>
                <h3 class="name">Community Name</h3>
            </div>
            <div class="count-box">
                <div class="divider"></div>
                <h6 class="members">Members: 48</h6>
            </div>
            <div class="info">
                <div class="divider"></div>
                <p>Info</p>
            </div>
        </div>
        <div class="community-box" routerLink="/hubit/community">
            <div class="cover">
                <img src="../../../assets/letter-logo.png" class="image-preview">
            </div>
            <div class="name-box">
                <div class="divider"></div>
                <h3 class="name">Community Name</h3>
            </div>
            <div class="count-box">
                <div class="divider"></div>
                <h6 class="members">Members: 48</h6>
            </div>
            <div class="info">
                <div class="divider"></div>
                <p>Info</p>
            </div>
        </div>
        <div class="community-box" routerLink="/hubit/community">
            <div class="cover">
                <img src="../../../assets/letter-logo.png" class="image-preview">
            </div>
            <div class="name-box">
                <div class="divider"></div>
                <h3 class="name">Community Name</h3>
            </div>
            <div class="count-box">
                <div class="divider"></div>
                <h6 class="members">Members: 48</h6>
            </div>
            <div class="info">
                <div class="divider"></div>
                <p>Info</p>
            </div>
        </div>
        <div class="community-box" routerLink="/hubit/community">
            <div class="cover">
                <img src="../../../assets/letter-logo.png" class="image-preview">
            </div>
            <div class="name-box">
                <div class="divider"></div>
                <h3 class="name">Community Name</h3>
            </div>
            <div class="count-box">
                <div class="divider"></div>
                <h6 class="members">Members: 48</h6>
            </div>
            <div class="info">
                <div class="divider"></div>
                <p>Info</p>
            </div>
        </div>
        <div class="community-box" routerLink="/hubit/community">
            <div class="cover">
                <img src="../../../assets/letter-logo.png" class="image-preview">
            </div>
            <div class="name-box">
                <div class="divider"></div>
                <h3 class="name">Community Name</h3>
            </div>
            <div class="count-box">
                <div class="divider"></div>
                <h6 class="members">Members: 48</h6>
            </div>
            <div class="info">
                <div class="divider"></div>
                <p>Info</p>
            </div>
        </div>
        <div class="community-box" routerLink="/hubit/community">
            <div class="cover">
                <img src="../../../assets/letter-logo.png" class="image-preview">
            </div>
            <div class="name-box">
                <div class="divider"></div>
                <h3 class="name">Community Name</h3>
            </div>
            <div class="count-box">
                <div class="divider"></div>
                <h6 class="members">Members: 48</h6>
            </div>
            <div class="info">
                <div class="divider"></div>
                <p>Info</p>
            </div>
        </div>
        <div class="community-box" routerLink="/hubit/community">
            <div class="cover">
                <img src="../../../assets/letter-logo.png" class="image-preview">
            </div>
            <div class="name-box">
                <div class="divider"></div>
                <h3 class="name">Community Name</h3>
            </div>
            <div class="count-box">
                <div class="divider"></div>
                <h6 class="members">Members: 48</h6>
            </div>
            <div class="info">
                <div class="divider"></div>
                <p>Info</p>
            </div>
        </div>
        <!-- ... -->
    </div>
    <router-outlet></router-outlet>
</div>
