<div class="page-content">
  <div class="top-panel">
    <button mat-raised-button class="button" (click)="openNewCommunityDialog()">
      <mat-icon>add</mat-icon> Create New Community
    </button>
  </div>
  <div class="divider-big"></div>
  <div class="communities-panel">
    <!-- Dynamic rendering of communities -->
    <div class="community-box" *ngFor="let community of communities" [routerLink]="['/hubit/community', community._id]">
      <div class="cover">
        <!-- Placeholder image, update as needed -->
        <img src="../../../assets/letter-logo.png" class="image-preview" />
      </div>
      <div class="name-box">
        <div class="divider"></div>
        <h3 class="name">{{ community.name }}</h3>
      </div>
      <div class="count-box">
        <div class="divider"></div>
        <!-- Placeholder for members count, adjust as per your data model -->
        <h6 class="members">Members: {{ community.followers.length }}</h6>
      </div>
      <div class="info">
        <div class="divider"></div>
        <p>{{ community.description }}</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
