<div class="center-flex">
  <div class="top">
    <div class="profile_picture">
      <img *ngIf="profileImageUrl" [src]="profileImageUrl" class="profile-pic"/>
    </div>
    <div class="info">
      <h1 class="username">
          {{username}}
      </h1>
      <p class="bio">{{bio}}</p>
    </div>
  </div>

  <div class="all_stats">
    <div class="stat">
      <h3 class="profile_number">{{ num_posts }}</h3>
      <p class="profile_number_text">Posts</p>
    </div>
    <div class="stat">
      <h3 class="profile_number">{{ num_followers }}</h3>
      <p class="profile_number_text">Followers</p>
    </div>
    <div class="stat">
      <h3 class="profile_number">{{ num_following }}</h3>
      <p class="profile_number_text">Following</p>
    </div>
    <div class="stat" (click)="toFollowedCommunities()">
      <h3 class="profile_number">{{ followed_communities.length }}</h3>
      <p class="profile_number_text">Communities</p>
    </div>
  </div>
</div>

<div *ngIf="logged_in && viewing_own_profile" class="buttons">
  <button mat-fab class="saved_button" (click)="toSavedPosts()">
    <mat-icon class="saved_icon">bookmark_border</mat-icon>
  </button>

  <button mat-fab class="saved_button" (click)="toLikedPosts()">
    <mat-icon class="saved_icon">favorite_border</mat-icon>
  </button>
  
  <button mat-fab class="settings_button" (click)="settings_action()">
    <mat-icon class="settings_icon">settings</mat-icon>
  </button>
  
  <button mat-fab class="inbox_button" (click)="toAllDMs()">
    <mat-icon matBadge="{{dm_count}}" class="inbox_icon">inbox</mat-icon>
  </button>
</div>
<div *ngIf="!viewing_own_profile" class="buttons">
  <button mat-fab class="chat_button" (click)="toDM()">
    <mat-icon class="chat_icon">chat</mat-icon>
  </button>
</div>

<div class="divider"></div>

<div class="post_list">
  <div *ngIf="posts.length > 0" class="filter">
    <p class="filter_label">Category:</p>
    <select #filter matNativeControl [value]="selected_category" (change)="changeSelect(filter.value)" class="select">
        <option default value="">All</option>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
    </select>
  </div>
<!-- Use material cards: https://material.angular.io/components/card/overview -->
<div *ngFor="let post of show_posts; index as i">
    <li><app-post [embedded]="true" input_post_id="{{post.id}}"></app-post></li>
</div>
</div>
