.center-box {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;

    text-align: center;

    background-color: lightgray;
    border: 2px solid gray;
    padding-bottom: 10px;
}

.input-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.input-full-width {
    width: 100%;
}

.create_button {
    padding-bottom: 10px;
}