.middle_box {
  position: relative; /* Changed from absolute to relative */
  left: 10vw;
  width: 80vw;
  top: 15vh;
  max-height: 70vh; /* Limit the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-bottom: 10px; /* Add padding at the bottom */
  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
}

.heading {
  margin: 0px;
}

.media_label {
  margin-top: 10px;
  margin-bottom: 0px;
}

.middle_box .post_form {
  height: auto;
}

.middle_box .post_form .input-80-width {
  margin-left: 10%;
  width: 80%;
}

.middle_box .post_form .input-80-width .post-text {
  width: 100%;
  border: 2px solid rgb(30,30,30);
  border-radius: 15px;
  height: 20vh;
  padding: 5px;
  line-height: 1.4;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-y: auto;
  resize: none;
}

.middle_box .post-button-area {
  width: 100%;
  text-align: center;
  margin-top: 20px; /* Add margin at the top */
}

.middle_box .post-button-area .post-button {
  width: 15%;
  height: 60%;
  font-size: 2em;
  background-color: rgb(210,210,210);
}

/* Responsive Design: Adjust for smaller screens if needed */
@media (max-width: 768px) {
  .middle_box {
    width: 95vw;
    left: 2.5vw;
  }
  .middle_box .post_form .input-80-width {
    margin-left: 5%;
    width: 90%;
  }
}
