.post-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 40vw;
  border-radius: 10px;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 1px 1px 3px rgb(50,50,50);
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.user-field,  .community-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.username, .community {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin-bottom: 0;
}

.profile_picture {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.divider {
  width: 450px;
  height: 2px;
  background-color: black;
  margin: 10px;
  border-radius: 40%;
}

.comments-text {
  margin-left: 50px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

.photo-box {
  width: 100%;
  padding: 0px;
  margin-bottom: 30px;
}

.video-box {
  width: 90%;
  padding: 0px;
  margin-bottom: 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
  color: black;
}

.post-box .post-field .post-content {
  line-height: 24px;
  height: 75%;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  overflow-y: auto;
  margin-bottom: 0;
}

.interactions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.interaction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.interaction-button {
  background-color: #F1580C ;
}

.interaction-count {
  font-size: 16px; /* Smaller font size for counts */
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
  margin-right: 10px;
}

.save-button-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.save-button {
  background-color: #F1580C; /* Adjust color as needed */
}

.new-comment {
  width: 100%;
  min-height: 30px;
  height: 90px;
}

.new-comment .input {
  position: relative;
  width: 50%;
  min-width: 100px;
  margin-left: 50px;
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 24px;
  outline: none;
  overflow-y: auto;
  resize: none;
  border-radius: 10px;
  padding: 5px;
}

.new-comment .button {
  position: relative;
  top: -35%;
  background-color: coral;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  scale: 1.5;
  margin-left: 50px;
  box-shadow: 1px 1px 1px rgb(100,100,100);
}

.existing-comment {
  width: 80%;
  margin-left: 50px;
}

.like-button-icon.liked {
  color: blue; /* Change the color to indicate liked state */
  font-weight: bold; /* Add other styles as needed */
}
