/* account_data.component.css */

.middle_box {
  position: absolute;
  left: 10vw;
  width: 80vw;
  top: 15vh;
  height: auto;
  margin-bottom: 10px;
  text-align: center; /* Center align content */
  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
}

.page-heading {
  font-size: 2rem;
  margin: 20px 0; /* Add some spacing above the heading */
}

.account-form mat-form-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Styling for editing state */
.account-form.mat-form-field.editing input {
  border: 2px solid blue; /* Example border style for editing state */
}

.account-form.mat-form-field.editing button {
  background-color: blue; /* Example background color for buttons in editing state */
  color: white; /* Example text color for buttons in editing state */
}

/* Add styling for non-editing state here */

.account-button-area {
  width: 100%;
  text-align: center;
  height: 10vh;
}

.account-button {
  width: 15%;
  height: 60%;
  font-size: 2em;
  background-color: rgb(210, 210, 210);
}

.spacer {
  height: 5vh;
  margin: 0 0 -5vh 0;
  background: transparent;
}
