<div class="middle_box">
    <h1 class="page-heading">Account Data</h1> <!-- Add a centered heading -->
    <form class="account-form">
        <mat-form-field class="input-80-width">
            <h2>Name:</h2>
            <input matInput [(ngModel)]="user.name" [disabled]="!editingName" />
            <button mat-button (click)="toggleEditing('name')">Save</button>
        </mat-form-field>

        <mat-form-field class="input-80-width">
            <h2>Password:</h2>
            <input matInput [(ngModel)]="user.password" [disabled]="!editingPassword" />
            <button mat-button (click)="toggleEditing('password')">Save</button>
        </mat-form-field>

        <mat-form-field class="input-80-width">
            <h2>Email:</h2>
            <input matInput [(ngModel)]="user.email" [disabled]="!editingEmail" />
            <button mat-button (click)="toggleEditing('email')">Save</button>
        </mat-form-field>

        <mat-form-field class="input-80-width">
            <h2>Profile Picture:</h2>
            <input type="file" accept="image/*" (change)="updateProfilePicture($event)" [disabled]="!editingProfilePicture" />
        </mat-form-field>
    </form>
</div>
