.account-form {
  position: absolute;
  left: 10vw;
  width: 80vw;
  top: 15vh;
  height: auto;
  margin-bottom: 10px;

  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
}

.account-form mat-form-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.account-button-area {
  width: 100%;
  text-align: center;
  height: 10vh;
}

.account-button {
  width: 15%;
  height: 60%;
  font-size: 2em;
  background-color: rgb(210, 210, 210);
}

.spacer {
  height: 5vh;
  margin: 0 0 -5vh 0;
  background: transparent;
}
