<div class="middle_box">
    <h1 class="page-heading">Account Data</h1>
    <mat-form-field class="input-80-width">
        <h2>Name:</h2>
        <input matInput [(ngModel)]="user.name" />
        <button mat-button (click)="saveUsername()">Save</button>
    </mat-form-field>

    <mat-form-field class="input-80-width">
        <h2>Password:</h2>
        <input matInput [(ngModel)]="user.password" />
        <button mat-button (click)="savePassword()">Save</button>
    </mat-form-field>

    <mat-form-field class="input-80-width">
        <h2>Description:</h2>
        <input matInput [(ngModel)]="user.description" />
        <button mat-button (click)="saveDescription()">Save</button>
    </mat-form-field>
</div>
