<div class="top-box">
    <a href="/hubit/all_messages"><mat-icon class="back-arrow">arrow_back</mat-icon></a>
    <a href="/profile?id={{recipient_id}}" style="text-decoration:none"><p class="profile-name">{{recipient_name}}</p></a>
</div>
<div class="message-box">
    <div class="prior-message-box prior-message-scroll">
        <li *ngFor="let message of messages; index as i" style="list-style-type: none">
            <div *ngIf="message.sender_id == self_id" class="message user-message">
                <div style="padding-bottom: 10px">{{message.content}}</div>
            </div>
            <div *ngIf="message.sender_id == self_id" class="user-message-time">
                {{date_format(message.sent)}}
            </div>
            <div *ngIf="message.sender_id != self_id" class="message recipient-message">
                <div style="padding-bottom: 10px">{{message.content}}</div>
            </div>
            <div *ngIf="message.sender_id != self_id" class="recipient-message-time">
                {{date_format(message.sent)}}
            </div>
            <div class="spacer"></div>
        </li>
    </div>
    <div class="new-message">
        <textarea matInput #message_input class="new-message-input" placeholder="Type a new message..."></textarea>
        <button mat-icon-button (click)="new_message(message_input.value)" class="icon-button">
            <mat-icon>arrow_upward</mat-icon>
        </button>
    </div>
    <div class="spacer"></div>
</div>